<nav class="navbar">
  <div class="container navbar-container">
    <a href="index.html" class="navbar-logo">
      <span>📡</span> Hyperlocal Dead Zone Locator
    </a>
    
    <div class="navbar-toggle" id="mobile-menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
    
    <ul class="navbar-menu" id="navbar-menu">
      <li><a href="index.html" class="navbar-link" data-page="home">Home</a></li>
      <li><a href="map.html" class="navbar-link" data-page="map">Live Map</a></li>
      <li><a href="report.html" class="navbar-link" data-page="report">Report</a></li>
      <li><a href="about.html" class="navbar-link" data-page="about">About</a></li>
      <li><a href="dashboard.html" class="navbar-link" data-page="dashboard">Dashboard</a></li>
    </ul>
  </div>
</nav>
